
  <!-- Modal -->
  <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-poster">
            <img class="modal-poster-img" src="https://m.media-amazon.com/images/M/MV5BNTI2YTI0MWEtNGQ4OS00ODIzLWE1MWEtZGJiN2E3ZmM1OWI1XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_SX300.jpg" alt="">
          </div>
          <div class="modal-movie-detail">
            <div class="modal-movie-title">
                -
            </div>
            <div class="genre-list ">
                <span class="genre text-center" > action </span>
                <span class="genre text-center" > comedy </span>
                <span class="genre text-center" > sci-fi </span>
            </div>
          </div>
        <div class="modal-footer">
         <a class="movie-link" href="/movie/tt0103776" > <button type="button" class="btn btn-primary">Movie Detail</button> </a>
        </div>
      </div>
    </div>
  </div>