.movie-cover .poster {
    height: 300px;
    width: 250px;
    border-radius: 3px;
}

.movie-title{
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}



.rating{
    right:0;
    top:0;
    margin:10px;
    background-color: white;
    padding:3px 8px;
    border-radius: 5px;
}

.star-icon {
    color: yellow;
    margin-left: 5px;
}

.movie-item {
    width:250px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item:hover {
    transform: translateY(-10px);
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
}
