<div class="header-container">
    <div class="header-bg"><img src="../../assets/bg-1.jpg" alt=""></div>
    <div class="header-title-div">
        <div>Unlimited Movie,</div>
        <div>TVs Shows, & More</div>
    </div>
</div>
<search-bar (keyword)="updateKeyword($event)" (movies)="displayMovies($event)"></search-bar>
<app-modal></app-modal>
<div  class="container">
    <filter [selectedFilter]="selectedFilter" 
            (filter)="filterChanged($event)"></filter>
    <p class="text-danger">{{errorMessage}}</p>
    <movies-container (scrollBottom)="loadMore()" [scrollStatus]="scrollStatus" [page]="page"  [movies] = "movies"></movies-container>
</div>